* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}
.dropdown span {
    background-color: rgba(194, 233, 248, 0.918);
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}
.dropdown span::before {
    content: '▶ ';
    font-size: 80%;
    color: black;
}
.dropdown.active span::before {
    content: '▼ ';
}
.dropdown ul {
    position: absolute;
    top: 120%;
    right: 0;
    cursor: pointer;
    margin: 0;
    list-style: none;
    display: none;
    background-color: rgb(228, 250, 243);
  }
.dropdown ul li {
      font-style: italic;
      padding: 0px 5px 5px 110px;
      font-size: 90%;
  }
.dropdown ul li:hover{
    cursor: pointer;
    background-color:rgba(199, 250, 233, 0.877);
} 
.dropdown.active ul {
    display: block;
  }

